body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(241, 243, 246);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    /* padding: 0 1.25rem; */
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgb(241, 243, 246);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.navbar-brand img {
    max-height: 100px;
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 15px;
}


#banner {
    align-items: center;
    margin-top: 50px;
    position: relative;


}


#banner a.btn {
    margin-top: 10px;
}

/* slider  */
.slider::before,
.slider::after {
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1000px;
    margin-top: 50px;
}

.slide-track {
    display: grid;

    grid-template-columns: repeat(20, 250px);
    gap: 10px;
    animation: scroll 40s linear infinite;
}

.slide {
    height: 100px;
    width: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    /* object-fit: cover; */
}

@media (max-width: 768px) {
    .slider {
        width: 100%;
    }

    .slide-track {
        /* grid-template-columns: repeat(5, 1fr); */
        gap: 10px;
    }
}

#Lokasi {
    padding: 50px 0;
    margin-top: 10px;
}

#Lokasi h2 {
    margin-bottom: 30px;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #333;
}

.note-lokasi {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.note-lokasi li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.note-lokasi li i {
    margin-right: 10px;
    color: #007bff;
}

#Lokasi iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

@media (max-width: 768px) {
    #Lokasi iframe {
        height: 300px;
    }
}

#type-rumah {
    padding: 10px 0;
}

#type-rumah h2 {
    margin-bottom: 30px;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #333;
}

.property-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.property-details {
    list-style-type: none;
    padding: 0;
}

.property-details li {
    margin-bottom: 10px;
}

.row .col-sm-8 {
    margin-bottom: 20px;
}

.row img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .row .col-sm-4 {
        text-align: center;
    }

    .row .col-sm-8 {
        order: 2;
    }

    .row .col-sm-4 {
        order: 1;
        margin-bottom: 20px;
    }
}

#carrousel-fasilitas {
    max-width: 800px;
    margin: auto;

}

#carrousel-fasilitas h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #333;

}

#carouselExampleCaptions {
    max-width: 100%;
}

.carousel-inner {
    max-height: 800px;
    overflow: hidden;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(31, 19, 203, 0.5);
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-10%);
    width: 40px;
    height: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000000;
    border-radius: 50%;
    padding: 5px;
}

@media (max-width: 768px) {
    .carousel-caption {
        display: block !important;
        opacity: 1 !important;
        bottom: 0;
    }
}


#promo {
    background-color: #bfd8ef;
    padding: 50px 0;
    margin-top: 550px;
}

#promo h2 {
    color: #343a40;


    .promo-card {
        border: 1px solid #ffffff;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .promo-card-body {
        padding: 20px;
    }

    .promo-card img {
        max-width: 80%;
        height: 80%;
    }
}

@media (max-width: 768px) {

    #promo {
        margin-top: 380px;
    }

    .col-md-3 {
        width: 100%;
        margin-bottom: 40px;
    }

    .promo-card img {
        max-width: 40%;
        height: 50%;
    }
}

#artikel {
    padding: 60px 0;
}

.artikel-item {
    margin-bottom: 40px;
}

.artikel-item img {
    max-width: 100%;
    height: auto;
}

.artikel-item h3 {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .artikel-item {
        text-align: center;
    }
}